.lang-switch {
  position: relative;
  display: inline-flex;
  border-radius: 999px;
  border: 1px solid #FFFFFF4D;
  background: #231F2021;
  padding: 4px;
  cursor: pointer;
}

/* 🔥 pill trượt */
.lang-pill {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 36px;
  height: 36px;
  background: var(--color-primary);
  border-radius: 100%;
  transition: transform 0.3s ease;
  z-index: 10;
}

/* vị trí */
.lang-pill.right {
  transform: translateX(100%);
}

.lang-pill.left {
  transform: translateX(0%);
}

/* text */
.lang-option {
  width: 36px;
  height: 36px;
  padding: 4px;
  font-weight: 500;
  user-select: none;
  transition: color 0.25s;
  color: #F9F9F9 !important;
  z-index: 20;
}

/* active text */
.lang-switch .lang-option{
  color: #fff;
}